<footer class="w-full custom-border-t bg-white text-black dark:bg-black dark:text-white">

    <div class="w-full container mx-auto flex flex-col items-center">
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
            <a href="/about" class="px-3">About</a>
            <a href="/privacy" class="px-3">Privacy Policy</a>
            <a href="/conditions" class="px-3">Terms & Conditions</a>
            <a href="/contact" class="px-3">Contact</a>
        </div>
        <div class="pb-6">&copy; boucle ∞</div>
    </div>
</footer>