<!-- Top Bar Nav -->
<nav class="w-full py-1 bg-white text-black dark:bg-black dark:text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between">
        <nav>
            <ul class="flex items-center justify-between font-bold uppercase no-underline">
                <li><a class="hover:underline px-4" href="{{ site.baseurl }}/"><i class="fas fa-home"></i></a></li>
            </ul>
        </nav>

        <div class="flex items-center text-lg no-underline pr-6">
            <button id="search-button" class="focus:outline-none">
                <i class="fas fa-search"></i>
            </button>
            <button id="theme-switch" class="px-4 rounded" style="align-self: center;">
                <i id="light-icon" class="fas fa-sun"></i>
                <i id="dark-icon" class="fas fa-moon"></i>
            </button>
        </div>
    </div>
</nav>

<!-- Text Header -->
<header class="w-full bg-white text-black dark:bg-black dark:text-white">
    <div class="flex flex-col items-center py-12">
        <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="{{ site.baseurl }}/">
            {{ site.title }}
        </a>
        <p class="text-lg text-gray-600 p-6">
            {{ site.description }}
        </p>
    </div>
</header>

<!-- Topic Nav -->
<nav class="w-full py-1 custom-border-t custom-border-b bg-white text-black dark:bg-black dark:text-white" x-data="{ open: false }">
    <div class="block sm:hidden">
        <a href="#" class="block md:hidden text-base font-bold uppercase text-center flex justify-center items-center"
            @click="open = !open">
            Topics <i :class="open ? 'fa-chevron-down': 'fa-chevron-up'" class="fas ml-2"></i>
        </a>
    </div>
    <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
        <div
            class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2">
           
           {% for cat in site.menu_categories %}
            <a href="{{ site.baseurl }}/category/{{ cat }}/" class="hover:bg-gray-200 hover:dark:bg-gray-800 rounded py-2 px-4 mx-2">{{ cat }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
